## COVID-19 - STAGE 0 PREDIAGNOSIS TOOL

The COVID-19 X-ray image dataset we’ll be using for this tutorial was curated by Dr. Joseph Cohen, a postdoctoral fellow at the University of Montreal.

The database of COVID-19 cases with chest X-ray or CT images.
All images and data were collected by Dr. Cohen, a postdoctoral fellow at the University of Montreal, and are publicly available in this [GitHub](https://github.com/ieee8023/covid-chestxray-dataset) repo. 

Inside the repo you’ll find example of COVID-19 cases, as well as MERS, SARS, and ARDS.

Dr. Cohen paper in this [link](https://arxiv.org/pdf/2003.11597.pdf).

---

## <span style='background :yellow'> <font color='black'> The project is under construction, WIP  .. </span>

---

In [132]:
# import the necessary packages

import pandas as pd

## Load data - COVID Px

In [113]:
px_data = pd.read_csv('../../../../../SDC/covid-chestxray-dataset/metadata.csv')
px_data.tail()

,patientid,offset,sex,age,finding,survival,intubated,intubation_present,went_icu,needed_supplemental_O2,...,date,location,folder,filename,doi,url,license,clinical_notes,other_notes,Unnamed: 27
349,195,,M,83.0,COVID-19,N,N,NaN,NaN,NaN,...,NaN,NaN,images,7-fatal-covid19.jpg,NaN,https://radiologyassistant.nl/chest/covid-19-c...,NaN,83 year old male with mitral insufficiency and...,NaN,NaN
350,196,1,M,73.0,COVID-19,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,images,extubation-1.jpg,NaN,https://radiologyassistant.nl/chest/covid-19-c...,NaN,Day 1: normal findings. History: 73 year old m...,NaN,NaN
351,196,4,M,73.0,COVID-19,NaN,Y,Y,NaN,NaN,...,NaN,NaN,images,extubation-4.jpg,NaN,https://radiologyassistant.nl/chest/covid-19-c...,NaN,Day 4: bilateral consolidations intubated. His...,NaN,NaN
352,196,8,M,73.0,COVID-19,NaN,Y,NaN,NaN,NaN,...,NaN,NaN,images,extubation-8.jpg,NaN,https://radiologyassistant.nl/chest/covid-19-c...,NaN,Day 8: bilateral consolidation. History: 73 ye...,NaN,NaN
353,196,13,M,73.0,COVID-19,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,images,extubation-13.jpg,NaN,https://radiologyassistant.nl/chest/covid-19-c...,NaN,Day 13: extubation. History: 73 year old male ...,NaN,NaN

In [114]:
px_data.shape

(354, 28)

In [115]:
px_data.columns

Index(['patientid', 'offset', 'sex', 'age', 'finding', 'survival', 'intubated',
       'intubation_present', 'went_icu', 'needed_supplemental_O2', 'extubated',
       'temperature', 'pO2_saturation', 'leukocyte_count', 'neutrophil_count',
       'lymphocyte_count', 'view', 'modality', 'date', 'location', 'folder',
       'filename', 'doi', 'url', 'license', 'clinical_notes', 'other_notes',
       'Unnamed: 27'],
      dtype='object')

In [126]:
px_covid = px_data[['patientid','finding','survival','view','filename']]

In [127]:
# Get px with COVID-19 only (i.e., ignoring MERS, SARS, and ARDS cases).
px_covid = px_covid[px_covid['finding'] == 'COVID-19']
px_covid.survival.unique()

array(['Y', nan, 'N'], dtype=object)

In [128]:
print(px_covid.shape)
px_covid.tail(12)

(278, 5)

,patientid,finding,survival,view,filename
342,190,COVID-19,NaN,PA,88de9d8c39e946abd495b37cd07d89e5-6531-0.jpg
343,191,COVID-19,NaN,AP Supine,67d668e570c242404ba82c7cbe2ca8f2-05be-0.jpg
344,191,COVID-19,NaN,AP Supine,67d668e570c242404ba82c7cbe2ca8f2-0015-0.jpg
345,192,COVID-19,NaN,PA,AR-1.jpg
346,192,COVID-19,NaN,PA,AR-2.jpg
347,193,COVID-19,NaN,PA,2-chest-filmc.jpg
348,194,COVID-19,NaN,PA,paving.jpg
349,195,COVID-19,N,PA,7-fatal-covid19.jpg
350,196,COVID-19,NaN,PA,extubation-1.jpg
351,196,COVID-19,NaN,PA,extubation-4.jpg
352,196,COVID-19,NaN,PA,extubation-8.jpg
353,196,COVID-19,NaN,PA,extubation-13.jpg

In [129]:
# Keep only the registers with Posterioranterior (PA) view of the lungs
px_covid = px_covid[px_covid['view'] == 'PA']

print(px_covid.shape)
px_covid.tail(5)

(142, 5)

     patientid   finding survival view             filename
349        195  COVID-19        N   PA  7-fatal-covid19.jpg
350        196  COVID-19      NaN   PA     extubation-1.jpg
351        196  COVID-19      NaN   PA     extubation-4.jpg
352        196  COVID-19      NaN   PA     extubation-8.jpg
353        196  COVID-19      NaN   PA    extubation-13.jpg

In [130]:
px_covid.survival.unique()

array(['Y', nan, 'N'], dtype=object)

## Load data - Healthy Px

https://www.kaggle.com/paultimothymooney/chest-xray-pneumonia